.image {
  background: url("../src/images/city.jpg");
  background-size: cover;
  width: 50px;
  height: 100px;
}
/* this class is being used in WeatherCard2.js */
.fold-on-ss-mid {
  justify-content: space-around;
  align-items: center;
}
.fold-on-ss-bottom {
  justify-content: space-around;
  align-items: center;
}

@media screen and (max-width: 600px) {
  .fold-on-ss-mid {
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .fold-on-ss-bottom {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .fold-on-ss-bottom * {
    margin: 0 2px;
  }
}
